/* general */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
body{   
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    background-color: #fffacd
}
 
body p{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

a{
text-decoration: none;
color: black;
}

body iframe{
    display: block;
    height: 350px;
    width: 75%;
    padding: 1cm 1cm;
}

/* header */
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    padding: 10px;
}

.header-logo{
    align-items: center;
}
.header-logo img{
    height: 50px;
    width: 75px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
    transition: all .3s ease;
}
nav a:hover{
    color: gold;
    margin: 0;
}

/* footer */
footer{
    background-color: black;
    height: 10%;
    padding: 0.2rem;
    font-size: large;
}

.footer-link{
    width: 7%;
}

.footer-link h4{
    font-size: 20px;
    color: white;
    border-bottom: 2px solid white;
}

.social-link a{
    color: white;
    font-weight: 600;
    padding-right: 10px;
    transition: all .3s ease;
}

.social-link a:hover{
    color:gold;
}

/* home */
#grilla-1{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(1,1fr);
    align-items: center;
}

#section-1{
    grid-column: 1/8;
    grid-row: 1/1;
}

#section-2{
    grid-column: 9/10;
    grid-template-columns: 1/1;
    padding: 50px;
}

#section-1 img{
    height: 100%;
    width: 100%;
}

.home-video{
    display: flex;
    justify-content: center;
}

.parrafo{
    padding-top: 1cm;
}

.carousel{
    padding-bottom: 1cm;
}

/* logros */
.titulo h1{
    text-decoration-line: underline;
}

.pick p{
    text-align: left;
    padding-right: 10px;
}

.mvp p{
    text-align: center;
}

#grilla-pick{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}

#section-1-log{
    grid-column: 2/3;
}

#video-grilla{
    grid-column: 1/3;
}

.mvp{
    padding: 20px;
    text-align: center;
}

.mvp p{
    margin: 0;
    padding-bottom: 40px;
}

.mvp img{
    padding: 50px;
    height: 275px;
    width: 375px;
}

.leader{
    text-align: center;
}

.logros{
    display: flex;
    flex-wrap: wrap;
}

.logros img{
    padding: 30px;
    height: 275px;
    width: 375px;
}
/* estadisticas */
.titulo h1{
    text-decoration-line: underline;
}

.img-est{
    text-align: center;
}

table{
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: large;
}

.est-body h2{
    font-size: larger;
}
/* equipos */
.titulo h1{
    text-decoration-line: underline;
}

.cavs{
    display: flex;
    flex-direction: column;
    background-color: maroon;
    color: white;
    align-items: center; 
}

.cavs img{
    max-height:250px;
    max-width:400px; 
}

.heat{
    display: flex;
    flex-direction: column;
    background-color: #b22222;
    align-items: center; 
}

.heat img{
    max-height:375px;
    max-width:250px;
}

.laker{
    display: flex;
    flex-direction: column;
    background-color: gold;
    align-items: center; 
}

.laker img{
    max-height:250px;
    max-width:400px;
}

/* historia */
.titulo h1{
    text-decoration-line: underline;
}

.img-hist{
    text-align: center;
}

/* media-query */
@media (max-width:550px){
    .header{
        flex-direction: column;
    }
}