@import "https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap";
#section-1 img, #section-2, .img-hist-1, #section-1-log {
  animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
}

.header-logo img {
  height: 50px;
  width: 75px;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
  transition: all 0.3s ease;
}
nav a:hover {
  color: gold;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 10%;
  padding: 0.2rem;
  font-size: large;
}

.footer-link {
  width: 7%;
}
.footer-link h4 {
  font-size: 20px;
  color: white;
  border-bottom: 2px solid white;
}

.social-link a {
  color: white;
  font-weight: 600;
  padding-right: 10px;
  transition: all 0.3s ease;
}
.social-link a:hover {
  color: gold;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: x-large;
  background-color: #fffacd;
}
body p {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}
body iframe {
  display: block;
  height: 500px;
  width: 85%;
  padding: 1cm 1cm;
}

a {
  text-decoration: none;
  color: black;
}

.titulo h1 {
  text-decoration-line: underline;
}

#grilla-1 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
}

#section-1 {
  grid-column: 1/8;
  grid-row: 1/1;
}
#section-1 img {
  height: 100%;
  width: 100%;
}

#section-2 {
  font-size: x-large;
  grid-column: 9/10;
  grid-template-columns: 1/1;
  padding: 50px;
}

.home-video {
  display: flex;
  justify-content: center;
}

.parrafo {
  padding-top: 1cm;
}

.carousel {
  padding-bottom: 1cm;
}

.logro {
  max-width: 1150px;
  margin: 0 auto;
}

.mvp {
  padding: 5px;
  text-align: center;
}
.mvp p {
  text-align: center;
  margin: 0;
  padding-bottom: 40px;
}
.mvp img {
  padding: 2px;
  height: 220px;
  width: 320px;
}

#grilla-pick {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}
#grilla-pick p {
  grid-column: 1/7;
}

#section-1-log {
  margin: 0;
  padding-right: 0;
  grid-column: 7/11;
}
#section-1-log img {
  width: 80%;
}

#video-grilla {
  grid-column: 1/11;
  width: 100%;
  padding: auto;
  margin: auto;
}

.leader {
  text-align: center;
}

.logros {
  display: flex;
  flex-wrap: wrap;
}
.logros li {
  font-size: larger;
}
.logros img {
  padding: 10px;
  height: 275px;
  width: 375px;
}

.estadisticas {
  max-width: 1150px;
  margin: 0 auto;
}
.estadisticas h2 {
  text-align: center;
  text-decoration: underline;
}

.img-est-1 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-2 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-3 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-4 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-5 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-6 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-7 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-8 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-9 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-10 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-11 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-12 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-13 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-14 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-15 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-16 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-17 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-18 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-19 {
  padding-top: 1cm;
  text-align: center;
}
.img-est-20 {
  padding-top: 1cm;
  text-align: center;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.equipos {
  max-width: 100;
  margin: 0 auto;
}

.cavs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: maroon;
  color: white;
  text-align: center;
}
.cavs p {
  margin: 30px;
}
.cavs img {
  max-height: 500px;
  max-width: 700px;
}

.heat {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b22222;
  text-align: center;
}
.heat p {
  margin: 30px;
}
.heat img {
  max-height: 500px;
  max-width: 300px;
}

.laker {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gold;
  text-align: center;
}
.laker p {
  margin: 30px;
}
.laker img {
  max-height: 300px;
  max-width: 500px;
}

.historia {
  max-width: 1150px;
  margin: 0 auto;
}

.img-hist-1 {
  text-align: center;
  margin: 20px;
}
.img-hist-2 {
  text-align: center;
  margin: 20px;
}
.img-hist-3 {
  text-align: center;
  margin: 20px;
}
.img-hist-4 {
  text-align: center;
  margin: 20px;
}
.img-hist-5 {
  text-align: center;
  margin: 20px;
}
.img-hist-6 {
  text-align: center;
  margin: 20px;
}

.img-hist-1 img {
  width: 200px;
  height: 300px;
}
.img-hist-2 img {
  width: 400px;
  height: 300px;
}
.img-hist-3 img {
  width: 400px;
  height: 300px;
}
.img-hist-4 img {
  width: 400px;
  height: 300px;
}
.img-hist-5 img {
  width: 400px;
  height: 300px;
}

@media only screen and (max-width: 480px) {
  .header {
    flex-direction: column;
  }
  .img-hist-1 img {
    width: 180px;
    height: 250px;
  }
  .img-hist-2 img {
    width: 250px;
    height: 180px;
  }
  .img-hist-3 img {
    width: 250px;
    height: 180px;
  }
  .img-hist-4 img {
    width: 250px;
    height: 180px;
  }
  .img-hist-5 img {
    width: 250px;
    height: 180px;
  }
  .img-hist-6 img {
    width: 250px;
    height: 300px;
  }
  .historia {
    max-width: 300px;
    margin: 0 auto;
  }
  .logro {
    max-width: 350px;
    margin: 0 auto;
    padding: auto;
  }
  .estadisticas {
    max-width: 300px;
    margin: 0 auto;
  }
  .estadisticas {
    max-width: 300px;
    margin: 0 auto;
  }
  .table-1 table {
    font-size: 17px;
    width: 100%;
  }
  .table-2 table {
    font-size: 17px;
    width: 100%;
  }
  .table-3 table {
    font-size: 17px;
    width: 100%;
  }
  .table-4 table {
    font-size: 17px;
    width: 100%;
  }
  .table-5 table {
    font-size: 17px;
    width: 100%;
  }
  .table-6 table {
    font-size: 17px;
    width: 100%;
  }
  .table-7 table {
    font-size: 17px;
    width: 100%;
  }
  .table-8 table {
    font-size: 17px;
    width: 100%;
  }
  .table-9 table {
    font-size: 17px;
    width: 100%;
  }
  .table-10 table {
    font-size: 17px;
    width: 100%;
  }
  .table-11 table {
    font-size: 17px;
    width: 100%;
  }
  .table-12 table {
    font-size: 17px;
    width: 100%;
  }
  .table-13 table {
    font-size: 17px;
    width: 100%;
  }
  .table-14 table {
    font-size: 17px;
    width: 100%;
  }
  .table-15 table {
    font-size: 17px;
    width: 100%;
  }
  .table-16 table {
    font-size: 17px;
    width: 100%;
  }
  .table-17 table {
    font-size: 17px;
    width: 100%;
  }
  .table-18 table {
    font-size: 17px;
    width: 100%;
  }
  .table-19 table {
    font-size: 17px;
    width: 100%;
  }
  .table-20 table {
    font-size: 17px;
    width: 100%;
  }
  .img-est-1 img {
    width: 300px;
    height: 180px;
  }
  .img-est-2 img {
    width: 200px;
    height: 300px;
  }
  .img-est-3 img {
    width: 220px;
    height: 280px;
  }
  .img-est-4 img {
    width: 200px;
    height: 300px;
  }
  .img-est-5 img {
    width: 200px;
    height: 300px;
  }
  .img-est-6 img {
    width: 200px;
    height: 300px;
  }
  .img-est-7 img {
    width: 300px;
    height: 180px;
  }
  .img-est-8 img {
    width: 200px;
    height: 300px;
  }
  .img-est-9 img {
    width: 200px;
    height: 300px;
  }
  .img-est-10 img {
    width: 200px;
    height: 300px;
  }
  .img-est-11 img {
    width: 200px;
    height: 300px;
  }
  .img-est-12 img {
    width: 200px;
    height: 300px;
  }
  .img-est-13 img {
    width: 200px;
    height: 300px;
  }
  .img-est-14 img {
    width: 200px;
    height: 300px;
  }
  .img-est-15 img {
    width: 200px;
    height: 300px;
  }
  .img-est-16 img {
    width: 200px;
    height: 300px;
  }
  .img-est-17 img {
    width: 200px;
    height: 250px;
  }
  .img-est-18 img {
    width: 200px;
    height: 300px;
  }
  .img-est-19 img {
    width: 200px;
    height: 300px;
  }
  .img-est-20 img {
    width: 300px;
    height: 200px;
  }
  .equipos {
    max-width: 300px;
    margin: 0 auto;
  }
  .cavs img {
    max-height: 250px;
    max-width: 280px;
  }
  .heat img {
    max-height: 400px;
    max-width: 200px;
  }
  .laker img {
    max-height: 250px;
    max-width: 280px;
  }
  .logros {
    margin: 0;
    padding-left: 2px;
  }
  .logros li {
    font-size: x-large;
  }
  .logros img {
    width: 250px;
    height: 180px;
  }
}
@media only screen and (min-width: 481px) {
  .historia {
    max-width: 600px;
    margin: 0 auto;
  }
  .logro {
    max-width: 568px;
    margin: 0 auto;
  }
  .logros {
    justify-content: center;
    align-items: center;
  }
  .equipos {
    max-width: 568px;
    margin: 0 auto;
  }
  .cavs img {
    max-height: 300px;
    max-width: 500px;
  }
  .heat img {
    max-height: 500px;
    max-width: 300px;
  }
  .laker img {
    max-height: 300px;
    max-width: 500px;
  }
  .estadisticas {
    max-width: 568px;
    margin: 0 auto;
  }
  .img-est-1 img {
    width: 430px;
    height: 280px;
  }
  .img-est-2 img {
    width: 250px;
    height: 400px;
  }
  .img-est-3 img {
    width: 290px;
    height: 350px;
  }
  .img-est-4 img {
    width: 250px;
    height: 400px;
  }
  .img-est-5 img {
    width: 250px;
    height: 400px;
  }
  .img-est-6 img {
    width: 250px;
    height: 400px;
  }
  .img-est-7 img {
    width: 400px;
    height: 250px;
  }
  .img-est-8 img {
    width: 250px;
    height: 400px;
  }
  .img-est-9 img {
    width: 250px;
    height: 400px;
  }
  .img-est-10 img {
    width: 250px;
    height: 400px;
  }
  .img-est-11 img {
    width: 250px;
    height: 400px;
  }
  .img-est-12 img {
    width: 250px;
    height: 400px;
  }
  .img-est-13 img {
    width: 250px;
    height: 400px;
  }
  .img-est-14 img {
    width: 250px;
    height: 400px;
  }
  .img-est-15 img {
    width: 250px;
    height: 400px;
  }
  .img-est-16 img {
    width: 250px;
    height: 400px;
  }
  .img-est-17 img {
    width: 300px;
    height: 350px;
  }
  .img-est-18 img {
    width: 250px;
    height: 400px;
  }
  .img-est-19 img {
    width: 250px;
    height: 400px;
  }
  .img-est-20 img {
    width: 400px;
    height: 300px;
  }
}
@media only screen and (min-width: 1025px) {
  .historia {
    max-width: 1000px;
    margin: 0 auto;
  }
  .logro {
    max-width: 1000px;
    margin: 0 auto;
  }
  .logros {
    justify-content: center;
    align-items: center;
  }
  .equipos {
    max-width: 1200px;
    margin: 0 auto;
  }
  .cavs img {
    max-height: 400px;
    max-width: 600px;
  }
  .heat img {
    max-height: 600px;
    max-width: 400px;
  }
  .laker img {
    max-height: 400px;
    max-width: 600px;
  }
  .estadisticas {
    max-width: 1000px;
    margin: 0 auto;
  }
  .img-est-1 img {
    width: 480px;
    height: 320px;
  }
  .img-est-2 img {
    width: 320px;
    height: 480px;
  }
  .img-est-3 img {
    width: 320px;
    height: 400px;
  }
  .img-est-4 img {
    width: 320px;
    height: 480px;
  }
  .img-est-5 img {
    width: 320px;
    height: 480px;
  }
  .img-est-6 img {
    width: 320px;
    height: 480px;
  }
  .img-est-7 img {
    width: 450px;
    height: 300px;
  }
  .img-est-8 img {
    width: 320px;
    height: 480px;
  }
  .img-est-9 img {
    width: 320px;
    height: 480px;
  }
  .img-est-10 img {
    width: 320px;
    height: 480px;
  }
  .img-est-11 img {
    width: 320px;
    height: 480px;
  }
  .img-est-12 img {
    width: 320px;
    height: 480px;
  }
  .img-est-13 img {
    width: 320px;
    height: 480px;
  }
  .img-est-14 img {
    width: 320px;
    height: 480px;
  }
  .img-est-15 img {
    width: 320px;
    height: 480px;
  }
  .img-est-16 img {
    width: 320px;
    height: 480px;
  }
  .img-est-17 img {
    width: 300px;
    height: 350px;
  }
  .img-est-18 img {
    width: 320px;
    height: 480px;
  }
  .img-est-19 img {
    width: 320px;
    height: 480px;
  }
  .img-est-20 img {
    width: 570px;
    height: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
