@import "https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap";
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 70px;
  padding: 10px;
}

.header-logo img {
  height: 50px;
  width: 75px;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
  transition: all 0.3s ease;
}
nav a:hover {
  color: gold;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 10%;
  padding: 0.2rem;
  font-size: large;
}

.footer-link {
  width: 7%;
}
.footer-link h4 {
  font-size: 20px;
  color: white;
  border-bottom: 2px solid white;
}

.social-link a {
  color: white;
  font-weight: 600;
  padding-right: 10px;
  transition: all 0.3s ease;
}
.social-link a:hover {
  color: gold;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: x-large;
  background-color: #fffacd;
}
body p {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}
body iframe {
  display: block;
  height: 350px;
  width: 75%;
  padding: 1cm 1cm;
}

a {
  text-decoration: none;
  color: black;
}

.titulo h1 {
  text-decoration-line: underline;
}

#grilla-1 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
}

#section-1 {
  grid-column: 1/8;
  grid-row: 1/1;
}
#section-1 img {
  height: 100%;
  width: 100%;
}

#section-2 {
  grid-column: 9/10;
  grid-template-columns: 1/1;
  padding: 50px;
}

.home-video {
  display: flex;
  justify-content: center;
}

.parrafo {
  padding-top: 1cm;
}

.carousel {
  padding-bottom: 1cm;
}

.mvp {
  padding: 5px;
  text-align: center;
}
.mvp p {
  text-align: center;
  margin: 0;
  padding-bottom: 40px;
}
.mvp img {
  padding: 2px;
  height: 220px;
  width: 320px;
}

#grilla-pick {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}
#grilla-pick p {
  grid-column: 1/7;
}

#section-1-log {
  margin: 0;
  padding-right: 0;
  grid-column: 7/11;
}
#section-1-log img {
  width: 80%;
}

#video-grilla {
  grid-column: 3/10;
  width: 100%;
  padding: 0;
  margin: 0;
}

.leader {
  text-align: center;
}

.logros {
  display: flex;
  flex-wrap: wrap;
}
.logros img {
  padding: 10px;
  height: 275px;
  width: 375px;
}

.img-est {
  padding-top: 1cm;
  text-align: center;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.cavs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: maroon;
  color: white;
  text-align: center;
}
.cavs p {
  margin: 30px;
}
.cavs img {
  max-height: 250px;
  max-width: 400px;
}

.heat {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b22222;
  text-align: center;
}
.heat p {
  margin: 30px;
}
.heat img {
  max-height: 375px;
  max-width: 250px;
}

.laker {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gold;
  text-align: center;
}
.laker p {
  margin: 30px;
}
.laker img {
  max-height: 250px;
  max-width: 400px;
}

.img-hist {
  text-align: center;
  margin: 20px;
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;
  }
  .logros {
    margin: 0;
    padding-left: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
