// paleta de colores
$color_1: black;
$color_2: gold;
$color_3: white;

//fuentes
$font-family_1: 'Oswald', sans-serif;
$font-family_2: 'Lato', sans-serif;

//tamaño de fuentes
$font-size_1: x-large;
$font-size_2: 1.2rem;
$font-size_3: large;
$font-size_4: larger;
$font-size_5: 20px;

//background colors
$background-color_1: #fffacd;
$background-color_2: maroon;
$background-color_3: #b22222;

