header {
	@include flex(null, space-between, center);
	background-color: $color_3;
	padding: 10px;
}
.header-logo {
	img {
		height: 50px;
		width: 75px;
	}
}
nav {
	a {
		font-weight: 600;
		padding-right: 10px;
		transition: all .3s ease;
		&:hover {
			color: $color_2;
			margin: 0;
		}
	}
}