.equipos {
	max-width: 100;
	margin: 0 auto;
}
.cavs {
	@include flex(column, null, center);
	background-color: $background-color_2;
	color: $color_3;
	text-align: center;
	p {
		margin: 30px;
	}
	img {
	max-height: 500px;
	max-width: 700px;
	}
}
.heat {
	@include flex(column, null, center);
	background-color: $background-color_3;
	text-align: center;
	p {
		margin: 30px;
	}
	img {
		max-height: 500px;
		max-width: 300px;
	}
}
.laker {
	@include flex(column, null, center);
	background-color: $color_2;
	text-align: center;
	p {
		margin: 30px;
	}
	img {
		max-height: 300px;
		max-width: 500px;
	}
}