.estadisticas {
	max-width: 1150px;
	margin: 0 auto;
	h2{
		text-align: center;
		text-decoration: underline;
	}
}
.img-est {
	padding-top: 1cm;
	text-align: center;
}
.table {
	@include flex(null, center, center);
	font-size: $font-size_1;
}
