.estadisticas {
	max-width: 1150px;
	margin: 0 auto;
	h2{
		text-align: center;
		text-decoration: underline;
	}
}
.img-est {
	&-1{
		padding-top: 1cm;
		text-align: center;
	}
	&-2{
		padding-top: 1cm;
		text-align: center;
	}
	&-3{
		padding-top: 1cm;
		text-align: center;
	}
	&-4{
		padding-top: 1cm;
		text-align: center;
	}
	&-5{
		padding-top: 1cm;
		text-align: center;
	}
	&-6{
		padding-top: 1cm;
		text-align: center;
	}
	&-7{
		padding-top: 1cm;
		text-align: center;
	}
	&-8{
		padding-top: 1cm;
		text-align: center;
	}
	&-9{
		padding-top: 1cm;
		text-align: center;
	}
	&-10{
		padding-top: 1cm;
		text-align: center;
	}
	&-11{
		padding-top: 1cm;
		text-align: center;
	}
	&-12{
		padding-top: 1cm;
		text-align: center;
	}
	&-13{
		padding-top: 1cm;
		text-align: center;
	}
	&-14{
		padding-top: 1cm;
		text-align: center;
	}
	&-15{
		padding-top: 1cm;
		text-align: center;
	}
	&-16{
		padding-top: 1cm;
		text-align: center;
	}
	&-17{
		padding-top: 1cm;
		text-align: center;
	}
	&-18{
		padding-top: 1cm;
		text-align: center;
	}
	&-19{
		padding-top: 1cm;
		text-align: center;
	}
	&-20{
		padding-top: 1cm;
		text-align: center;
	}
	
}
.table {
	@include flex(null, center, center);
	font-size: $font-size_1;
}

