.img-hist{
	&-1{
		text-align: center;
		margin:20px;
	}
	&-2{
		text-align: center;
		margin:20px;
	}
	&-3{
		text-align: center;
		margin:20px;
	}
	&-4{
		text-align: center;
		margin:20px;
	}
	&-5{
		text-align: center;
		margin:20px;
	}
	&-6{
		text-align: center;
		margin:20px;
	}
	
}
.img-hist{
	&-1 img{
		width:200px;
		height:300px;
	}
	&-2 img{
		width:400px;
		height:300px;
	}
	&-3 img{
		width:400px;
		height:300px;
	}
	&-4 img{
		width:400px;
		height:300px;
	}
	&-5 img{
		width:400px;
		height:300px;
	}
}