body {
	margin: 0;
	font-family: $font-family_1;
	font-size: $font-size_1;
	background-color: $background-color_1;
	p {
		font-family: $font-family_2;
		font-size: $font-size_2;
	}
	iframe {
		display: block;
		height: 500px;
		width: 85%;
		padding: 1cm 1cm;
	}
}
a {
	text-decoration: none;
	color: $color_1;
}

.titulo {
	h1 {
		text-decoration-line: underline;
	}
}

#grilla-1 {
	@include grid(repeat(10,1fr), repeat(1,1fr), null, center)
}
#section-1 {
	grid-column: 1/8;
	grid-row: 1/1;
	img {
		height: 100%;
		width: 100%;
	}
}
#section-2 {
	font-size: $font-size_1;
	grid-column: 9/10;
	grid-template-columns: 1/1;
	padding: 50px;
}
.home-video {
	@include flex(null, center, null)
}
.parrafo {
	padding-top: 1cm;
}
.carousel {
	padding-bottom: 1cm;
}
